<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Vault | Home </title>
    <link rel="stylesheet" href="css/home.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

</head>

<body>


    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #000 !important;">
            <div class="container-fluid">
                <a class="navbar-brand active" href="/">Home</a>
                <button class="navbar-toggler primary" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/artists">Artists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item" id="profile">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item" id="login">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item" id="logout">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="slider">
        <div class="list">

            <div class="item" id="land-img5">
                <img src="images/home/img5.jpg" alt="">
                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="title">BY</div>
                    <div class="type">FLOWER</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Excepturi earum quas velit
                        voluptates ea nam? Similique, distinctio quia! Quo, libero.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

            <div class="item" id="land-img6">
                <img src="images/home/img6.jpg" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="title">BY</div>
                    <div class="type">NATURE</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Excepturi earum quas velit
                        voluptates ea nam? Similique, distinctio quia! Quo, libero.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

            <div class="item" id="land-img7">
                <img src="images/home/img7.jpg" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="title">BY</div>
                    <div class="type">PLANT</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Excepturi earum quas velit
                        voluptates ea nam? Similique, distinctio quia! Quo, libero.

                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>


            <div class="item" id="land-img10">
                <img src="images/home/img10.jpg" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="title">BY</div>
                    <div class="type">NATURE</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Excepturi earum quas velit
                        voluptates ea nam? Similique, distinctio quia! Quo, libero.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

            <div class="item" id="land-img11">
                <img src="images/home/img11.jpg" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="title">BY</div>
                    <div class="type">NATURE</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Excepturi earum quas velit
                        voluptates ea nam? Similique, distinctio quia! Quo, libero.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>


        </div>


        <div class="thumbnail">

            <div class="item" id="thumb-img5">
                <img src="images/home/img5.jpg" alt="">
            </div>
            <div class="item" id="thumb-img6">
                <img src="images/home/img6.jpg" alt="">
            </div>
            <div class="item" id="thumb-img7">
                <img src="images/home/img7.jpg" alt="">
            </div>
            <div class="item" id="thumb-img10">
                <img src="images/home/img10.jpg" alt="">
            </div>
            <div class="item" id="thumb-img11">
                <img src="images/home/img11.jpg" alt="">
            </div>

        </div>


        <div class="nextPrevArrows">
            <button class="prev"> < </button>
            <button class="next"> > </button>
        </div>

    </div>


    <script src="js/check_login.js"></script>
    <script src="js/home.js"></script>
</body>

</html>