<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art vault | {{username}} Profile</title>
    <link rel="stylesheet" href="css/users/profile.css">
</head>


<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>

            <li class="active">
                <a href="#">
                    <i class="fa fa-user fa-2x active" aria-hidden="true"></i>
                    <span class="nav-text">
                        My profile
                    </span>
                </a>
            </li>
            
            <li class="">
                <a href="#">
                    <i class="fa fa-puzzle-piece fa-2x" aria-hidden="true"></i>
                    <span class="nav-text">
                        My Arts
                    </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-cogs fa-2x"></i>
                    <span class="nav-text">
                        Account Settings
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-camera-retro fa-2x"></i>
                    <span class="nav-text">
                        Social Media Handles
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="/logout">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>