<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art vault | {{username}}'s Profile</title>
    <link rel="stylesheet" href="css/users/profile.css">

    <link rel="stylesheet" href="css/toast.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

</head>


<body>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>

            <li class="active">
                <a href="/profile">
                    <i class="fa fa-user fa-2x active" aria-hidden="true"></i>
                    <span class="nav-text">
                        My profile
                    </span>
                </a>
            </li>

            <li class="">
                <a href="/my-arts">
                    <i class="fa fa-puzzle-piece fa-2x" aria-hidden="true"></i>
                    <span class="nav-text">
                        My Arts
                    </span>
                </a>
            </li>
            <li>
                <a href="/socials">
                    <i class="fa fa-camera-retro fa-2x"></i>
                    <span class="nav-text">
                        Social Media Handles
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="/logout">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <section class="bg">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            {{!-- <li class="breadcrumb-item"><a href="/">Home</a></li> --}}
                            <li class="breadcrumb-item active" aria-current="page">{{username}}'s Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="/user-photo" alt="avatar" class="square-circle img-fluid" style="width: 150px;"
                                id="id_photo">
                            <h5 class="my-3">Actions</h5>
                            <div class="d-flex justify-content-center mb-2">
                                <button class="btn btn-outline-dark ms-2" data-toggle="modal"
                                    data-target="#modify_photo">Change
                                    Photo</button>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <button class="btn btn-outline-dark ms-2" data-toggle="modal"
                                    data-target="#modify_profile">
                                    Edit Profile</button>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <button class="btn btn-outline-dark ms-2" data-toggle="modal"
                                    data-target="#modify_password">Modify
                                    Password</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Username</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" id="username"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" id="Full_Name"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" id="email"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" id="phone"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Modal for Modifying password -->
    <div class="modal fade" id="modify_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modify password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="float-label" id="passwordModal">

                        <div class="form-group">
                            <input type="password" id="current_password" name="current_password" class="input-field">
                            <label for="current_password" class="float-label">Enter current password:</label>
                        </div>

                        <div class="form-group">
                            <input type="password" id="new_password" name="new_password" class="input-field">
                            <label for="new_password" class="float-label">Enter your new password:</label>
                        </div>

                        <div class="form-group">
                            <input type="password" id="confirm_password" name="confirm_password" class="input-field">
                            <label for="confirm_password" class="float-label">Confirm your new password:</label>
                        </div>

                        <p>The password must be at least:</p>
                        <p>Be 8 characters long</p>
                        <p>Contain at least one uppercase letter</p>
                        <p>Contain at least one lowercase letter</p>
                        <p>Contain at least one number</p>
                        <p>Contain at least one special character</p>

                        <input class="btn btn-outline-dark ms-2" type="submit" value="Change password"></input>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark ms-2" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of the modal --}}


    <!-- Modal for Submitting a new profile photo -->
    <div class="modal fade" id="modify_photo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload ID photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>Please ensure that the photo is in portrait mode</p>
                    <p>The photo must be not more than 8MB</p>

                    <form class="float-label" id="idPhotoForm">

                        <div class="form-group">
                            <input type="file" id="idPhoto" name="idPhoto" class="input-field"
                                accept=".png,.jpeg,.jpg,.bmp" onchange="loadFile(event)">
                            <label for="idPhoto" class="float-label">Id Photo:</label>
                        </div>
                        <img id="output" />
                        <br>
                        <input class="btn btn-outline-dark ms-2" type="submit" value="Upload Photo"></input>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark ms-2" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of the modal --}}


    <!-- Modal for User's details -->
    <div class="modal fade" id="modify_profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modify password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="float-label" id="editModal">

                        <div class="form-group">
                            <input type="text" id="username_form" name="username_form" class="input-field">
                            <label for="username_form" class="float-label">Username:</label>
                        </div>

                        <div class="form-group">
                            <input type="text" id="full_name_form" name="full_name_form" class="input-field">
                            <label for="full_name_form" class="float-label">Full Name:</label>
                        </div>

                        <div class="form-group">
                            <input type="text" id="email_form" name="email_form" class="input-field">
                            <label for="email_form" class="float-label">Email:</label>
                        </div>

                        <div class="form-group">
                            <input type="text" id="phone_form" name="phone_form" class="input-field">
                            <label for="phone_form" class="float-label">Phone Number:</label>
                        </div>
                        <input class="btn btn-outline-dark ms-2" type="submit" value="Edit Details"></input>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark ms-2" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of the modal --}}

    {{!-- <div class="toasts" id="toasts">
    </div> --}}

    {{!-- <div id="toast" class="toast">
        <div class="toast-body">
            Your message here
        </div>
    </div> --}}


    <div id="toast" class="toast">
        <div class="toast-body">
        </div>
    </div>

    <script src="js/users/profile.js"></script>
    <script src="js/functions.js"></script>


</body>


</html>