<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art vault | {{username}}'s Profile</title>
    <link rel="stylesheet" href="css/users/profile.css">
    
    <link rel="stylesheet" href="css/toast.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

</head>


<body>
    {{!-- <div class="area"></div> --}}
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>

            <li>
                <a href="/profile">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    <span class="nav-text">
                        My profile
                    </span>
                </a>
            </li>

            <li class="">
                <a href="#">
                    <i class="fa fa-puzzle-piece fa-2x" aria-hidden="true"></i>
                    <span class="nav-text">
                        My Arts
                    </span>
                </a>
            </li>
            <li class="active">
                <a href="/socials">
                    <i class="fa fa-camera-retro fa-2x active"></i>
                    <span class="nav-text">
                        Social Media Handles
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="/logout">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <section class="bg">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            {{!-- <li class="breadcrumb-item"><a href="/">Home</a></li> --}}
                            <li class="breadcrumb-item active" aria-current="page">{{username}}'s Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                
                    <form class="float-label" id="socialsForm">

                        <div class="form-group">
                            <input type="text" id="instagram" name="instagram" class="input-field">
                            <label for="instagram" class="float-label">Instagram:</label>
                        </div>

                        <div class="form-group">
                            <input type="text" id="youtube" name="youtube" class="input-field">
                            <label for="youtube" class="float-label">Youtube:</label>
                        </div>

                        <div class="form-group">
                            <input type="text" id="x" name="x" class="input-field">
                            <label for="x" class="float-label">X (Fomerly Twitter):</label>
                        </div>

                        <div class="form-group">
                            <input type="text" id="tiktok" name="tiktok" class="input-field">
                            <label for="tiktok" class="float-label">TikTok:</label>
                        </div>
                        <input class="btn btn-outline-dark ms-2" type="submit" value="Update Socials"></input>

                    </form>
            </div>

        </div>
    </section>

    <div id="toast" class="toast">
      <div class="toast-body">
      </div>
    </div>

    <script src="js/users/socials.js"></script>
    <script src="js/functions.js"></script>


</body>


</html>